<!-- <mat-toolbar class="top-menu">
    <span> Department List</span>
</mat-toolbar> -->


<div class="search-div">
  <button mat-raised-button (click) ="onCreate()" color="accent">
    <mat-icon>add</mat-icon>Create
  </button>

  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" autocomplete="off" (keyup)="applyFilter()" placeholder="searh"> 
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat elavation-z5">
    <table mat-table [dataSource]="grdlistData" style="width: 100%;" matSort>

        <ng-container matColumnDef="empid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let item"> {{item._id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="empcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
          <td mat-cell *matCellDef="let item"> {{item.employeeCode}} </td>
        </ng-container>
      
        <ng-container matColumnDef="empname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let item"> {{item.employeeName}} </td>
        </ng-container>

        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
            <td mat-cell *matCellDef="let item"> {{item.dateOfBirth}} </td>
        </ng-container>

        <ng-container matColumnDef="mob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MOB </th>
            <td mat-cell *matCellDef="let item"> {{item.mobileNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let item"> {{item.email}} </td>
        </ng-container>

        <ng-container matColumnDef="deptname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name </th>
            <td mat-cell *matCellDef="let item"> {{item.deptname}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="empcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Code </th>
          <td mat-cell *matCellDef="let item"> {{item.empcode}} </td>
      </ng-container> -->

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let row">
              <!-- <button mat-icon-button color="primary" title="Edit" (click)="onEdit(row)">
                <mat-icon>edit</mat-icon>
              </button> -->

              <button mat-icon-button color="accent" title="Delete" (click)="onDelete(row._id)">
                <mat-icon>delete</mat-icon>
              </button>

          </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <mat-footer-cell * matFooterCellDef colspan="4">
            Loading data..
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell * matFooterCellDef colspan="4">
            No data..
          </mat-footer-cell>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]= "[2, 5, 10, 25, 100]" [pageSize]= "10" showFirstLastButtons></mat-paginator>      
</div>